<div>

    <!-- Burgers Available -->
    <div>
        <h3>Burger Menu</h3>
        <div id="burgersAvailable">

            {{#each burgers}}
            <form action="api/burger/{{id}}" method="POST">
                <div>
                    <li>{{id}} {{burger_name}}</li>
                    <span>
                        <button type="submit">Order</button>
                    </span>
                </div>
            </form>
            {{/each}}

        </div>
    </div>


    {{!-- Order a burger --}}
    <div class="row">
        <form class="create-form">
            <p for="burger">Burger Name:</p>
            <div><input type="text" id="burger" name="name"></div>
            <button type="submit">Submit Order</button>
        </form>
    </div>


    <!-- Burgers Eaten -->
    <div class="col-md-4">
    <div class="col-md-4">
        <h3>Burgers Devoured</h3>
        <div id="burgersEaten">

            {{#each burgers}}
            {{#if this.devoured}}
            <div class="input-group">
                <li class="form-control">{{this.id}}. {{this.burger_name}}</li>
            </div>
            {{/if}}
            {{/each}}

        </div>
    </div>


</div>